.Sidebar {
    background-color: lightgray;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: rgb(230, 205, 173);
  }
  